{%  extends "layout.html" %}
{% block content %}
<div class="panel panel-default">
	<form action="/users/new_user" method="post">
		<div class="panel-heading">Add a new user</div>
	  	<div class="panel-body">
	  		<div class="form-group">
		    	<div class="input-group">
		    		<span class="input-group-addon" id="basic-addon1">Email Address</span>
		    		<input type="text" class="form-control" name="email" placeholder="Email">
		    	</div>
		    </div>
		    <div class="form-group">
		    	<div class="input-group">
		    		<span class="input-group-addon" id="basic-addon1">First Name</span>
		    		<input type="text" class="form-control" name="firstname" placeholder="First Name">
		    	</div>
		    </div>
		    <div class="form-group">
		    	<div class="input-group">
		    		<span class="input-group-addon" id="basic-addon1">Last Name</span>
		    		<input type="text" class="form-control" name="lastname" placeholder="Last Name">
		    	</div>
		    </div>
		    <div class="form-group">
		    	<div class="input-group">
		    		<span class="input-group-addon" id="basic-addon2">Password</span>
		    		<input type="password" class="form-control" name="password" placeholder="Password">
		    	</div>
		    </div>
		    <div class="form-group">
		    	<div class="input-group">
		    		<span class="input-group-addon" id="basic-addon2">Confirm Password</span>
		    		<input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password">
		    	</div>
		    </div>
			<button type="submit" class="btn btn-default">Create</button>
	 	</div>
	</form>
</div>
{% endblock %}